<% provide(:page_desc, "SERVICE: Daily Messenger") %>

<h1>Daily Messenger</h1>
<h4 class='center'>(AKA Project Gefilte Fish)</h4>

<br>

Try it out!

<br>

<h2>FAQ</h2>

<p></p>

<br>

<% if logged_in? %>
  Logged in!
<% else %>
  Not logged in!
<% end %>

Hooray! You got here!