<% provide(:page_desc, "SERVICE: Daily Messenger") %>

<h1>Daily Messenger</h1>
<h4 class='center'>(AKA Project Gefilte Fish)</h4>

<br>
<br>

<p>
  Daily Messages are great, but there's a metric ton of them. Wouldn't it
  be great if you could get a version that just included things you're
  interested in, so you'd never miss another job opportunity, department announcement,
  or fun event ever again?
</p>

<% if logged_in? %>
  <p class='center'>
    <br>
    <%= link_to "Go to my Daily Messenger!", '#' %>
  </p>
<% else %>
  <p class='center'>
    <br>
    <%= link_to "Golly whiz sign me up!", login_path %>
  </p>
<% end %>



<br>

<!----------------------------------------------->

<h2>FAQ</h2>

<p class='bold'>
  Q: ... Why does it say it's also known as "Project Gefilte Fish"?
</p>

<p>
  Er. Well. When I was trying to come up with a name for the service, I kept
  trying variations of "Filter." Eventually, I was reminded of a blooper from
  Rush Hour 2, and I ended up thinking "Wow. Gefilte Fish is a GREAT name for a
  service." I ended up with "Daily Messenger," but I still like "Gefilte Fish."
</p>


<p class='bold'>
  Q: What happens to the original Daily Messages?
</p>

<p>
  Absolutely nothing. I can't overtly stop the college from sending those emails,
  so you'll receive both the Daily Messenger's content-tailed emails as well as
  the original daily messages. You know, just in case you want to see everything.
</p>


<p class='bold'>
  Q: How much is this going to cost me?
</p>

<p>
  Nothing. Like all great college products, it's so free it actually is free.
  I'll always appreciate donations <%= link_to 'here', 'http://www.paypal.me/rynkwn' %>, 
  but for every normal user this service will remain free indefinitely. Or at 
  least until my server explodes. Whichever comes first.
</p>


<p class='bold'>
  Q: What do you mean by "normal users?"
</p>

<p>
  In the future, I may allow some people to do promotions through the Daily
  Messenger, but I'll make every possible effort to be sure it's ONLY promotions
  you might be interested in. For example: MASS MoCA surveying Williams students
  about new exhibits and you list a passion for the contemporary arts, 
  developer meetups taking place in North Adams when
  you say you're interested about professional coders in the area,
  or Psychology students offering free cake to
  perform an experiment and, you being a human being, say you're interested in cake.
</p>


<p class='bold'>
  Q: Did anyone actually ask these questions?
</p>

<p>
  I spend a lot of time alone.
</p>