<h1>About This Site</h1>

<p>Hello! My name is Ryan Kwon.</p>

<%= link_to image_tag("mypic.jpg", alt: "Don't worry about not seeing this, I'm pretty notoriously unphotogenic.",
                      size: "250x250") %>

<br>
<p>I'm the creator, maintainer, and main content contributor to the aRg blog.
I've been part of two (technically three) startups: the first as an intern
software developer coding in Python, the second as a CTO and co-founder.</p>