<h1>Who I am and Why I built <%= NAME_OF_SITE %></h1>

<p style="text-indent:0em">Hello! My name is Ryan Kwon.</p>

<%= link_to image_tag("mypic.jpg", alt: "Don't worry about not seeing this, I'm pretty notoriously unphotogenic.",
                      size: "250x250") %>

<br>
<p>
  I'm the creator, maintainer, and main content contributor to <%= NAME_OF_SITE %>.
  I've been part of two (technically three) startups: the first as an intern
  software developer coding in Python through Kivy, the second as a CTO and co-founder.
</p>

<p>
  I created aRg after leaving the second startup. This was motivated in part 
  to provide a platform for blogging as well as a publishing medium for several
  of my projects, but was largely instantiated in order to give me free rein 
  to experiment with a variety of languages and technologies. I'm also excited
  by its existence as a semi-structured way of learning (I, for example, have no
  idea how to put a Java game on a site. Or even if I can. And yet, I both want
  to and plan to.)
</p>

<p>
  If you're interested in the source code, the github repo is here: 
  <%= link_to "repo", 'https://github.com/rynkwn/rblog' %>.
  The markdown document also records my thoughts while creating the site in
  sequential order.
</p>

<p>
  If you want to contact me for whatever reason (I am a fan of other people doing
  startups. I also enjoy answering questions and writing emails, on top of just
  hearing about cool things related to space development, energy research, or
  technology in general.): rynkwn@gmail.com
</p>