<h1>About This Site</h1>

<p>Hello! My name is Ryan Kwon.</p>

<%= link_to image_tag("mypic.jpg", alt: "I am also notoriously unphotogenic.",
                      size: "250x250") %>
                      
<p></p>