<% provide(:title, "Analytics") %>

<table border="1" style="width:100%">
  <tr>
    <td>Page Title</td>
    <td>Hits</td>
  </tr>
  <% @summary.keys do |page| %>
    <tr>
      <td><%= page %></td>
      <td><%= @summary[page] %></td>
    </tr>
  <% end %>
</table>