<h1>Parse Daily Message Content</h1>

<%= form_tag(debug_path, :method => "post", class: "navbar-form center") do %>
  <h3>Daily Message Content</h3>
  <div class="input-append">
    <%= text_area_tag :dailymessage, params[:dailymessage], cols: 100, rows: 40, class: "span2 center" %>
  </div>
  <button class="btn btn-success btn-sm" type="submit"> Parse and Send </button>
<% end %>

<%= @filtered_content %>