<% provide(:page_desc, "Home") %>

<h1>Hello!</h1>
<h3 class = "center"><%= NAME_OF_SITE %> is the part of the internet domained by me, Ryan Kwon</h3>

<br>
<p>
  <%= NAME_OF_SITE %> is my personal site, dedicated to being a publishing/storage
  platform for some of my thoughts as well as some of my personal projects (software
  or otherwise). The reason why this site exists, as opposed to being part of, say,
  Tumblr, is that I was deeply interested in learning much more about creating and
  maintaining a website.
</p>

<p>
  Improvements and new features will be pretty regular, since I have absolute control
  over everything about the site. I have high hopes that this place will one day
  become a significantly more interesting part of the internet than the empty barren 
  space that previously inhabited the demesne. 
</p>

<br>

<p>
  If you're looking for the Daily Messenger, <%= link_to 'click here!', dailymessenger_path %>
</p>