<% provide(:page_desc, "Home") %>

<h1><%= link_to 'Welcome', 'http://www.zombo.com/' %></h1>
<h5 class="center">(I don't actually own or have anything to do with the above link.)</h5>

<br>

<p class="center">
  But hello! <%= NAME_OF_SITE %> is the part of the internet domained by me, Ryan Kwon.
</p>

<p>
  Right now, it's mostly a place for me to store my software experiments like some
  twisted Frankensteinian cadever mimicking the motions of living scientists, 
  becoming ever more pale as my pseudo-carpal tunnel trots out monster after
  monster of lovecraftian symbols and obscure technobabble. It's a shelf of 
  abstract, Poe-tic dimensions: storing everything from my dabbling in artifical
  intelligence to games involving sheep surviving the apocalypse, pre-ordained to
  inevitably collapse when the tap-tap-taps and shrieks of its technoheretical 
  inhabitants becomes too much for its cogitators to bear...
</p>

<p>
  It also stores my blogs.
</p>

<br>
<h2>Slightly more Seriously</h2>
<p>
  <%= NAME_OF_SITE %> is my personal site, dedicated to being a publishing/storage
  platform for some of my thoughts as well as some of my personal projects (software
  or otherwise). The reason why this site exists, as opposed to being part of, say,
  Tumblr, is that I was deeply interested in learning much more about creating and
  maintaining a website.
</p>

<p>
  Improvements and new features will be pretty regular, since I have absolute control
  over everything about the site. I have high hopes that this place will one day
  become a significantly more interesting part of the internet than the empty barren 
  space that previously inhabited the domain. 
</p>