<h1><%= link_to 'Welcome', 'http://www.zombo.com/' %></h1>
<h5 class="center">(I don't actually own or have anything to do with the above link.)</h5>

<br>

<p class="center">
  But hello! <%= NAME_OF_SITE %> is the part of the internet domained by me, Ryan Kwon.
</p>

<p>
  Right now, it's mostly a place for me to store my software experiments like some
  twisted Frankensteinian cadever mimicking the motions of living scientists, 
  becoming ever more pale as my pseudo-carpal tunnel trots out monster after
  monster of lovecraftian symbols and obscure technobabble. It's a shelf of 
  abstract, Poe-tic dimensions: storing everything from my dabbling in artifical
  intelligence to games involving sheep surviving the apocalypse, pre-ordained to
  inevitably collapse when the tap-tap-taps and shrieks of its technoheretical 
  inhabitants becomes too much for its cogitators to bear...
</p>

<p>
  It also stores my blogs.
</p>

<br>
<p>
  <%= NAME_OF_SITE %> is still in its early infancy, but will inevitably grow.
  Check back every now and then, and one day we may have a mailing list to let
  you know when we have new things! And user accounts! The future is bright
  and full of shiny things.
</p>