<h1><%= link_to 'Welcome', 'http://www.zombo.com/' %></h1>
<h5 class="center">(I don't actually own or have anything to do with the above link.)</h5>

<br>
<p>
  But hello!
</p>

<p class="center">
  <%= NAME_OF_SITE %> is the part of the internet 
</p>