<splash class="splash">
  
  <br>
  <br>
  
  <name class="splash-container">
    <font color="white" size="30">
      THE R BLOG
    </font>
  </name>
  
  <br>
  <br>
  
  <center class="splash-container">
    <font color="white" size="15">
      Coming Eventually
    </font>
  </center>
  
  <div class="footer">
    <font color="white" size="1">
      Background taken from 
      http://images2.fanpop.com/images/photos/7000000/Space-Art-Wallpaper-space-7076692-1440-900.jpg
    </font>
  </div>
</splash>