<% provide(:title, @blog.name) %>
<% provide(:page_desc, "BLOG: " + @blog.name) %>

<h1 class="text-left"><%= @blog.name %></h1>
<h4 class="byline"> Written on <%= @blog.date_created %></h4>

<%= markdown @blog.content %>

<% if ryan? %>
  <%= link_to "Edit", edit_blog_path(@blog) %>
<% end %>