<h1>My Daily Messenger</h1>

<table class="center">
  <tr>
    <td><%= button_to "Basic", 
                      my_daily_messenger_path(option: "basic"),
                      class: "btn-primary",
                      :method => "get", 
                      params: {option: "basic"} 
                      %> 
                      </td>
    <td><%= button_to "Advanced", 
                      my_daily_messenger_path(option: "advanced"),
                      class: "btn-primary",
                      :method => "get", 
                      params: {option: "advanced"} 
                      %> 
                      </td>
  </tr>
</table>

<div id="form-partial">
  <% if params["option"].nil? || params["option"] == "basic" %>
    <%= render "users/dailymessenger/basic_form" %>
  <% else %>
    <%= render "users/dailymessenger/advanced_form" %>
  <% end %>
</div>

<p>
  Tips for Daily Messenger:
  
  <ul>
    <li>You can go directly to "My Daily Messenger" from the account tab above!</li>
  </ul>
</p>