<h1>Anonymous Donations Accepted</h1>

<br>

<p>
  
</p>


<%= form_tag(ada_path, :method => "get", class: "navbar-form center") do %>
  <div class="input-append">
    <%= text_field_tag :crush, params[:crush], class: "span2 center", 
                       placeholder: "Crush"%>
    <button class="btn btn-success btn-sm" type="submit"> Luck </button>
  </div>
<% end %>



<%= form_tag(ada_path, :method => "get", class: "navbar-form center") do %>
  <div class="input-append">
    <%= text_field_tag :lookup, params[:lookup], class: "span2 center", 
                       placeholder: "Lookup"%>
    <button class="btn btn-success btn-sm" type="submit"> Luck </button>
  </div>
<% end %>