/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Color and Asset Variables */
$white: #ffffff;
$pearly_white: #E8E5DA;
$link_blue: #2A6496;
$light_grey: #9799A7;
$black: #000000;

$background-pic: "footer_lodyas.png";

@font-face {
  font-family: 'Garamond';    
  src: url('/assets/fonts/garamond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('/assets/fonts/garamond bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Color Scheme */
$primary: $white;
$secondary: $black;

/* Taken from Hartl/Universal */
body {
  padding-top: 60px;
  background: image-url($background-pic) repeat 0 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Setup for screen layout. */
.left {
  position: relative;
  left: 0;
  top: 100px;
  bottom: 0;
  width: 178px;
}
  
.main {
  position: relative;
  margin: 20px;
  padding-top: 72px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background: $pearly_white;
}

/* typography */
.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $secondary;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $secondary;
}

p {
  color: $secondary;
  font-size: 1.2em;
  line-height: 1.7em;
  text-indent: 2em;
  text-align: justify;
  font-family: 'Verdana', Times, "Times New Roman", serif;
}

.byline {
  color: $light_grey;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 18px;
}

/* Colors */
.white {
  color: $white;
}

.black {
  color: $black;
}