/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

/* Color and Asset Variables */
$white: #ffffff;
$pearly_white: #E8E5DA;
$link_blue: #1d7ac1;
$grey: #969896;
$grey_white: #DDDDDD;
$light_grey: #9899A7;
$black: #000000;
$williams_purple: #792297;

$link_color: #45Adf4;

$background-pic: "dark-tweed.png";
$body-background: "zwartevilt.png";
$transparent-background: "partiallytransp.png";


/* Color Scheme */
$primary: $black;
$secondary: $grey_white;

@font-face {
    font-family: 'callunaregular';
    src: url('Calluna-Regular-webfont.eot');
    src: url('Calluna-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Calluna-Regular-webfont.woff2') format('woff2'),
         url('Calluna-Regular-webfont.woff') format('woff'),
         url('Calluna-Regular-webfont.ttf') format('truetype'),
         url('Calluna-Regular-webfont.svg#callunaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Garamond';    
  src: url('/assets/fonts/garamond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('/assets/fonts/garamond bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Taken from Hartl/Universal */
body {
  margin: auto;
  margin-bottom: 2cm;
  background: image-url($background-pic) repeat 0 0;
  color: #c6c6c6;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  margin: auto;
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Setup for screen layout. */
.left {
  position: relative;
  left: 0;
  top: 100px;
  bottom: 0;
  width: 178px;
}
  
.main {
  position: relative;
  margin: auto;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  max-width: 70%;
  /* background: image-url($transparent-background) repeat 0 0; */
}

/* typography */
.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

h1, h2, h3, h4, h5, h6, p {
  color: $secondary;
  text-shadow: 1px 1px 1px #000;
}

h1, h2, h3, h4 {
  font-family: 'callunaregular', Georgia, Times, serif;
  line-height: 1;
}

h5, h6, p, div {
  font-family: 'verdana', Geneva, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  color: $secondary;
  font-size: 1.2em;
  line-height: 1.7em;
  text-indent: 2em;
  text-align: justify;
  margin-top: 10px;
}

code {
  background-color: #eee;
  padding: 0.2em;
  word-break: normal;
  text-shadow: 0px 0px 0px #000;
}

.text-block {
  text-indent: 0;
}

.bold {
    font-weight: bold;
}

.byline {
  color: $white;
  font-style: italic;
  margin-bottom: 18px;
}

.text-left {
  text-align: left;
}

/* unvisited link */
a:link {
    color: $link_color;
}

/* visited link */
a:visited {
    color: $link_color;
}

/* Colors */
.white {
  color: $white;
}

.black {
  color: $black;
}

/* Forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: $black;
    background-color : $pearly_white; 
}

/* Table */

th {
  background-color: $williams_purple;
  color: white;
  padding: 15px;
  text-align: center;
}

td {
  padding: 8px;
}

/* Buttons */

.btn {
  background-color: $williams_purple;
  border-color: $williams_purple;
  color: white;
}