/* Advanced Form Stylings */
.dm-form-collapsible-button {
  width: 80px;
  height: 30px;
  border: none;
  background: image-url("icons/arrows.png") no-repeat;
  background-position: center center; 
}