<titlebar class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container center">
    <h1>
      The R Blog
    </h1>
    <h2>
      We do not endorse piracy.
    </h2>
  </div>
</titlebar>